div.login-panel {
  margin: 25px auto;
  padding: 25px;
  background-color: #eee;
  width: 500px;
  text-align: center;
  h1 {
    margin-bottom: 25px;
  }
  div.btn-container {
    text-align: right;
  }
}