<div class="row">
    <div class="col-md-12">
      <div class="x_panel">
  
        <!-- header -->
        <h1>Favorites</h1>
  
        <!-- profile container -->
        <div class="x_content">
          <div class="row">
  
            <!-- profile -->
            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
              <div class="well profile_view">
                <div class="col-sm-12">
                  <div class="col-xs-12">
                    <h2>John Doe</h2>
                    <br />
                    <p class="last-note">
                      <strong>Last Note (01/01/18): </strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer erat
                      risus, facilisis iaculis mattis sit amet, aliquet finibus urna. Sed elementum placerat nisl, in aliquet
                      purus tempus a consectetur adipiscing elit.
                    </p>
                    <br />
                    <ul class="list-unstyled">
                      <li>
                        <i class="fa fa-building"></i> Address: Salt Lake City, UT</li>
                      <li>
                        <i class="fa fa-phone"></i> Phone: (555) 555-5555</li>
                    </ul>
                    <br />
                  </div>
                </div>
                <div class="col-xs-12 bottom text-center">
                  <div class="col-xs-12 col-sm-6 emphasis">
                    <button type="button" class="btn btn-success btn-xs">
                      <i class="fa fa-comments-o"></i> Send Email</button>
                  </div>
                  <div class="col-xs-12 col-sm-6 emphasis">
                    <button type="button" class="btn btn-primary btn-xs">
                      <i class="fa fa-user"> </i> View Profile
                    </button>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
  