<div class="row">
  <div class="col-md-12">
    <div class="x_panel">

      <h1>Dashboard</h1>

      <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top">
            <i class="fa fa-user"></i> Total</span>
          <div class="count">1,254</div>
          <span class="count_bottom">
            <i class="green">+43 </i> Last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top">
            <i class="fa fa-compass"></i> Utah</span>
          <div class="count">756</div>
          <span class="count_bottom">
            <i class="green">+17 </i> Last Week</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top">
            <i class="fa fa-compass"></i> Salt Lake</span>
          <div class="count green">489</div>
          <span class="count_bottom">
            <i class="green">+2 </i> Last Week</span>
        </div>
      </div>

    </div>
  </div>
</div>
